/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
* ,*::before,*::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit
}
body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
img{
    max-width: 100%;
    height: auto;
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;

}
.section-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}
.section-title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006dfe;
    position: absolute;
    bottom: 0;
    left: 0; 
}

/*header styles start*/

.header_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 56px;
}
.header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
    padding-bottom: 20px;
    z-index: 10;
}
.header_active{
    background: #0e1d28;

}
.header_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.header_item{
    margin-right: 82px;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none; 
}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 0.75;
}
.header_burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger_line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}
.burger_line_first{
    top: 0;
}
.burger_line_second{
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.burger_line_third{
    bottom: 0;
}

/*header styles start*/ 

/*intro styles start*/

.intro{
    min-height: 100vh;
    background: url(../img/Intro_bg-min.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    /*padding-bottom: 223px;*/
}
.intro_title{
    max-width: 619px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}
.intro_subtitle{
    color: white;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

.search-form_info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.search-form_field{
    width: 297px;
    background: transparent; 
    background: url(../img/svg/sircle-ico.svg) no-repeat left top;
    background-size: 20px;
    border: 0;
    outline: none;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 43px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.search-form_field::-webkit-input-placeholder{
    font-size: 18px;
    font-weight: 500;
    color: white;    
}
.search-form_field::-moz-placeholder{
    font-size: 18px;
    font-weight: 500;
    color: white;    
}
.search-form_field:-ms-input-placeholder{
    font-size: 18px;
    font-weight: 500;
    color: white;    
}
.search-form_field::-ms-input-placeholder{
    font-size: 18px;
    font-weight: 500;
    color: white;    
}
.search-form_field::placeholder{
    font-size: 18px;
    font-weight: 500;
    color: white;    
}

.search-form_submit{
    background: #1b7dff;
    border: 0;
    padding: 15px 39px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: white;
    max-height: 70px;
}
.search-form_submit:hover, .search-form_submit:active, .search-form_submit:focus{
    background: #40689b;
}

/*intro styles end*/

/*benefits styles start*/

.benefits{
    margin-bottom: 131px;
}
.benefits_wrap{
    max-width: 1262px;
    height: 420px;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 26, 0.16);
            box-shadow: 0px 2px 20px rgba(21, 24, 26, 0.16);
    position: relative;
    margin-top: 120px;
}
.benefits_title{
    width: 100%;    
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 50px 100px 50px 100px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #fff;
}
.benefits_cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 55px;
       -moz-column-gap: 55px;
            column-gap: 55px;
    padding: 0px 100px 0 100px;
    margin-bottom: 112px;
} 
.benefits_card{
    -ms-grid-column-span: 1;
    grid-column: span 1;
}
.benefits_card-ico{
    margin-bottom: 37px;
    max-width: 66px;
}
.benefits_card-thumb{
    display: block;
}
.benefits_card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits_card-discription{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits_card-more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    text-decoration: none;
    background: url(../img/svg/arrow_right-ico.svg) no-repeat 95% center;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.benefits_card-more:hover, .benefits_card-more:focus{
    background: url(../img/svg/arrow_right-ico.svg) no-repeat right center;
}
/*benefits styles end*/

/*places styles start*/
.places{
    margin-bottom: 131px;
}
.places_caption{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
}
.places_title{
   margin-right: 15px;
}
.places_view-all{
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 59px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    background: url(../img/svg/arrow_right-ico.svg) no-repeat right center;
}
.places_view-all:focus, .places_view-all:hover{
    opacity: .65;
}
.places_cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
}
.places_card{
    position: relative;
    overflow: hidden;
}
.places_card::before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height:100%;
    background-color: rgba(21, 24, 36, 0.4);
    top: 0;
    left: 0;
    z-index: 2; 
}
.places_card:hover .places_card-pic{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
.places_card-title{
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.places_card_size_large{
    -ms-grid-column-span: 3;
    grid-column: span 3;
    max-height: 354px;
}
.places_card_size_small{
    -ms-grid-column-span: 2;
    grid-column: span 2;
    max-height: 284px;
}
.places_card-pic{
    width: 100%;
    -webkit-transition: .15s all;
    -o-transition: .15s all;
    transition: .15s all;
}
.places_card-pic_size-small{
    height: 284px;
    -o-object-fit: cover;
       object-fit: cover;
}
.places_card-pic_size-large{
    height: 354px;
    -o-object-fit: cover;
       object-fit: cover;  
}
.places_card-link{  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/*places styles end*/ 

/*tours styles start*/

.tours{
    margin-bottom: 139px;
}
.tours_tour{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 108px 1fr;
    grid-template-columns: repeat(2,1fr);
    -webkit-column-gap: 108px;
       -moz-column-gap: 108px;
            column-gap: 108px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 77px;
}
.tour_title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746; 
    margin-bottom: 85px;
}
.tour_description{
    font-size: 16px;
    line-height: 24px;
    color: #102746; 
    margin-bottom: 58px;
}
.tour_link{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    text-decoration: none;
    background: url(../img/svg/arrow_right-ico.svg) no-repeat 95% center;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.tour_link:hover, .tour_link:focus{
    background: url(../img/svg/arrow_right-ico.svg) no-repeat right center;
}
.tour_info{
    padding-left: 47px;
}
/*tours style end*/

/*top styles start*/

.top{
    margin-bottom: 86px;
}
.top_title{
    margin-bottom: 54px;
}
.top_cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
    grid-template-columns: repeat(6,1fr);
    -webkit-column-gap: 57px;
       -moz-column-gap: 57px;
            column-gap: 57px;
    row-gap: 57px;
}
.top_card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}
.top_card-pic{
    position: relative;
    margin-bottom: 45px;
}
.top_card-stats{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 3.3px;
    left: 0;
    width: 100%;
    background-color: rgba(21, 24, 36, 0.6);
    padding: 16px 25px 16px 25px;
}
.top_card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0;
}
.top_card-likes{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    background: url(../img/svg/like-ico.svg) no-repeat right;
    background-size: 16px;
    margin-right: 14px;
}
.top_card-comments{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url(../img/svg/comment-ico.svg)no-repeat right;
    background-size: 16px;
}
.top_card-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 31px;
}
.top_card-more{
    width: 118px;
    padding: 12px 19px;
    background-color: #006dfe;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    margin: auto 0 0 0;
}
.top_card-more:hover, .top_card-more:focus, .top_card-more:active{
    background-color: #40689b;
}
/*top style end*/

/*videos styles start*/

.videos{
    width: 100%;
}
.videos_wrapper{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.video_item{
    padding-top: 56.25%;
}
.video_element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*videos styles end*/

/*footer styles start*/

.footer{
    background-color: #0e1d28;
    padding: 119px 0;
}
.footer_item{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer_logo{
    width: 50%;
}
.footer_navigation{
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer_menu-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.footer_menu-link{
    font-size: 16px;
    line-height: 24px;
    color: #fff;   
    text-decoration: none; 
}
.footer_menu-link:focus, .footer_menu-link:active, .footer_menu-link:hover{
    color: #BFC0C5;
}

/*footer styles end*/

/* Media start */
@media screen and (max-width: 960px) {
    .search-form_field{
        margin-bottom: 25px;
    }
    .benefits_cards{
        padding: 0 15px;
        -webkit-column-gap: 35px;
           -moz-column-gap: 35px;
                column-gap: 35px;
        margin-top: 150px;
    }
    .benefits_card{
        margin-bottom: 60px;
    }
    .benefits_title{
        padding: 55px 15px;
    }
    .benefits_wrap{
        margin-top: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .benefits{
        margin-bottom: 65px;
    }
    .places_card_size_large{
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .places_card_size_small{
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .tours_tour{
        -webkit-column-gap: 35px;
           -moz-column-gap: 35px;
                column-gap: 35px;
    }
    .tour_info{
        padding-left: 0;
    }
    .tour_title{
        margin-bottom: 15px;
    }
    .tour_description{
        margin-bottom: 15px;
    }
    .top_cards{
        -webkit-column-gap: 25px;
           -moz-column-gap: 25px;
                column-gap: 25px;
        row-gap: 55px;
    }
    .top_card{
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .top_card-pic{
        margin-bottom: 25px;
    }
    .footer{
        padding: 60px;
    }
    .search-form_info{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .header_burger{
        display: block;
    }
    .header_nav{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #0e1d28;
        z-index: 20;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: 0.5s all linear;
        -o-transition: 0.5s all linear;
        transition: 0.5s all linear;
    }
    .header_nav-active{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .header_active{
        height: 80px;
    }
    .header_item{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .header_item:last-child{
        margin-bottom: 0px;
    }
    .header_link{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        z-index: 21;
    }
    .header_nav-close-line{
        display: block;
        height: 2px;
        width: 100%;    
        background: white;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .header_nav-close-line:first-child{
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }    
    .header_nav-close-line:last-child{
        -webkit-transform: translateY(-50%) rotate(315deg);
            -ms-transform: translateY(-50%) rotate(315deg);
                transform: translateY(-50%) rotate(315deg);
    }
    .header_wrapper{
        padding-top: 25px;
    }  
    .search-form_field{
        margin-right: 0;
        width: 100%;
        padding-bottom: 12px;
        background: url(../img/svg/sircle-ico.svg) no-repeat left 2px;
    }
    .search-form_field::-webkit-input-placeholder{
        font-size: 16px;
    }
    .search-form_field::-moz-placeholder{
        font-size: 16px;
    }
    .search-form_field:-ms-input-placeholder{
        font-size: 16px;
    }
    .search-form_field::-ms-input-placeholder{
        font-size: 16px;
    }
    .search-form_field::placeholder{
        font-size: 16px;
    }
    .search-form_info {
        margin-bottom: 180px;
    }
    .search-form_submit{
        width: 100%;
    }
    .intro{
        padding-top: 130px;
    } 
    .intro_title{
        font-size: 32px;
        line-height: 50px;
    }   
    .intro_subtitle{
        font-size: 14px;
    }
    .benefits{
        margin-bottom: 30px;
    }
    .benefits_card{
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .benefits_cards{
        margin-top: 0;
        margin-bottom: 30px;
    }
    .places_caption{
        margin-top: 430px;
        margin-bottom: 0;
    }
    .benefits_card-ico{
        margin-bottom: 15px;
    }
    .benefits_card-discription{
        margin-bottom: 15px;
    }
    .places_title{
        margin-top: 0;
    }
    .section-title::after{
        width: 78px;
        
    }
    .section-title{
        margin-bottom: 20px;
    }
    .places_card-pic_size-large, .places_card-pic_size-small{
        height: 200px;
    }
    .places_view-all{
        margin-bottom: 25px;
    }
    .tour_pic{
        margin-bottom: 20px;
    }
    .tour_pic, .tour_info {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
    .tour_pic_mobile_first{
        -ms-grid-row: -1;
        grid-row-start: -1;
    }
    .tours{
        margin-bottom: 50px;
    }
    .top{
        margin-bottom: 50px;
    }
    .top_card {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .top_card-desc{
        margin-bottom: 15px;
    }
    .top_card-stats{
        max-width: 386px;
    }
    .footer_logo{
        width: 100%;
        margin-bottom: 15px;
    }
    .footer_navigation{
        width: 100%;
    }
    .footer {
        padding: 27px;
    }
    .footer_menu{
        width: 50%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    .header_nav{
        padding: 75px 30px;
    }
}

/* Media end */
